<h5>
    Detalhes do aluno
</h5>

<p>ID: {{ aluno.id }}</p>
<p>ID: {{ aluno.nome }}</p>
<p>ID: {{ aluno.email }}</p>

<button class="waves-effect waver-light btn" (click)="editarAluno()">
    EDITAR
</button>
