<h5>exemplos-pipes works!</h5>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating  | number:'1.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data lançamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>
<br />
<p>Livro: {{ livro | json }}</p>


<!--PIPE PURO-->
<h5>PIPE IMPURO</h5>
<input type="text" [(ngModel)]="filtro">
<br />

<input type="text" #novoValor>
<br />
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<ul>
    <li *ngFor="let book of books | filtroArray:filtro ">
        {{ book }}
    </li>
</ul>

<!--PIPE IMPURO-->
<h5>PIPE IMPURO</h5>
<ul>
    <li *ngFor="let book of books | filtroArrayImpuro:filtro ">
        {{ book }}
    </li>
</ul>

<!--MANEIRA CORRETA DE USAR FILTRO NOS PROJETOS-->
<h5>MANEIRA CORRETA DE USAR FILTRO NOS PROJETOS</h5>
<ul>
    <li *ngFor="let book of obterCursos() ">
        {{ book }}
    </li>
</ul>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>
