<div class="row">
    <div class="col s6">
        <p>
            Lista de Alunos
        </p>
        <ul class="collection">
            <a [routerLink]="[aluno.id]" class="collection-item" *ngFor="let aluno of alunos">{{ aluno.nome }}</a>
        </ul>
    </div>

    <div class="col s6">
        <router-outlet></router-outlet>
    </div>

</div>
