<p appFundoAmarelo>
  Texto com fundo amarelo
</p>
<button appFundoAmarelo>Botão com fundo Amarelo</button>
<p appHighlightMouse>
  Texto com highlight quanso passo o mouse.
</p>
<p appHighlight [defaultColor]=" 'grey' " [highlight]=" 'red' ">
  Texto com highlight com cores customizadas.
</p>

<h5>Diretiva Estrutura customizada - ngElse</h5>
<div *ngIf="mostrarCursos">
  Lista de cursos.
</div>

<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados
</div>

<br />

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos.</button>

<br />

<template [ngElse]="mostrarCursos">
  <div>
    Não existem cursos para serem listados
  </div>
</template>
