<div class="panel panel-default">
  <div class="panel-heading">
    <p class="panel-title"><ng-content select=".titulo"></ng-content></p>
  </div>
  <div class="panel-body">
    <ng-content select=".corpo"></ng-content>
  </div>
</div>
