<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos.
</div>

<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos.
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados
</div>

<br />

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos.</button>


<h5>Hidden como alternativa.</h5>
<div [hidden]="!mostrarCursos">

</div>

<div [hidden]="mostrarCursos">
  Hidden como alternativa.
</div>

<h5>Removendo o * e usando o template</h5>
<div *ngIf="mostrarCursos">
  Lista de cursos.
</div>
