<h5>Class biding com property Bind</h5>
<h1>
  <i class="glyphicon"
     [class.glyphicon-star-empty]="!meuFavorito"
     [class.glyphicon-star]="meuFavorito"
     (click)="onClick()"
  ></i>
</h1>

<h5>Class biding com ngCLass</h5>
<h1>
  <i class="glyphicon"
     [ngClass]="{
     'glyphicon-star-empty': !meuFavorito,
     'glyphicon-star': meuFavorito
     }"
     (click)="onClick()"
  ></i>
</h1>
