<!--<app-diretiva-ngif></app-diretiva-ngif>-->
<!--<app-diretiva-ngswitch></app-diretiva-ngswitch>-->
<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretiva-ngstyle></app-diretiva-ngstyle>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<!--<app-exemplo-ng-content>
  conteudo aqui pra teste
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>-->
<!--
<app-exemplo-ng-content>
  <div class="titulo">Titulo do painel para teste</div>
  <div class="corpo">conteudo aqui pra teste</div>
  <div class="corpo">conteudo aqui pra teste 2</div>
</app-exemplo-ng-content>
-->
<app-diretivas-customizadas></app-diretivas-customizadas>
