<h2>
    Lista de cursos
</h2>

<p>Página {{ pagina }}</p>
<div class="collection">
    <a [routerLink]="['/cursos',curso.id]" class="collection-item" *ngFor="let curso of cursos">
        {{curso.nome}}
    </a>
</div>

<button (click)="nextPage()">Proxima Página</button>
