<app-data-binding></app-data-binding>

<!--<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirClico()">Destruir ciclo</button>-->
