<nav class="navbar navbar-dark bg-primary">
  <div class="nav navbar-nav">
    <a href="javascript:void(0)" class="nav-item nav-link" [class.active]="aba == 'home' " (click)="aba= 'home' ">Home</a>
    <a href="javascript:void(0)" class="nav-item nav-link" [class.active]="aba == 'mapa' " (click)="aba= 'mapa' ">Mapa</a>
    <a href="javascript:void(0)" class="nav-item nav-link" [class.active]="aba == 'lista' " (click)="aba= 'lista' ">Lista</a>
  </div>
</nav>

<div class="container-fluid" [ngSwitch]="aba">
  <p *ngSwitchCase=" 'mapa' ">Modo mapa ativado</p>
  <p *ngSwitchCase=" 'lista' ">Modo lista ativado</p>
  <p *ngSwitchDefault>Modo home ativado</p>
</div>
