<h5>Styles com property biding (style biding)</h5>
<button
  [style.backgroundColor]="ativo ? 'blue' : 'gray' "
  [style.color]="ativo ? 'white' : 'black' "
  [style.fontWeight]="ativo ? 'bold' : 'normal' "
  [style.fontSize]="tamanhoFonte + 'px' "
  (click)="onClick()"
>Mudar atributo 'ativo'</button>

<br /><br />

<h5>Styles com diretiva ngStyle</h5>
<button
  [ngStyle]="{
  'backgroundColor': (ativo ? 'blue' : 'gray'),
  'color': (ativo ? 'white' : 'black'),
  'fontWeight': (ativo ? 'bold' : 'normal'),
  'fontSize': tamanhoFonte + 'px'
  }"
  (click)="onClick()"
>Mudar atributo 'ativo'</button>
<br /><br />

<input type="text" [(ngModel)]="tamanhoFonte">
