<h5>
    Formulário de alunos
</h5>
<label for="id">#</label>
<input id="id" [(ngModel)]="aluno.id"/>

<label for="nome">Nome</label>
<input id="nome" [(ngModel)]="aluno.nome"/>

<label for="email">E-Mail</label>
<input id="email" [(ngModel)]="aluno.email"/>
