<div class="container-fluid">

  <!--<section class="property-binding">
      <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é: {{ 1 + 1  + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
        <p>{{ getMyString() }}</p>
      </article>

      <article>
        <img src="{{ urlImagem }}"><br />
        <img [src]="urlImagem"> <br />
        <img bind-src="urlImagem">
      </article>
  </section>-->

  <!--<section class="property-binding">
    <article>
      <h3>Class e Style Binding</h3>
      <div>Selecione uma classe
        <select #classe (change)="0">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Alerta</option>
          <option value="alert-danger">Erro</option>
        </select>
      </div>

      <br /><br />

      <div class="alert {{ classe.value }}">
        Texto colorido conformo valor do combobox
      </div>

      <br /><br />

      <div class="alert" role="alert"
           [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div>

      <div class="alert" role="alert"
           [class.alert-info]="classe.value == 'alert-info'">
        Info
      </div>

      <div class="alert" role="alert"
           [class.alert-warning]="classe.value == 'alert-warning'">
        Warning
      </div>

      <div class="alert" role="alert"
           [class.alert-danger]="classe.value == 'alert-danger'">
        Danger
      </div>

      <br /><br />

      <div class="alert alert-danger" role="alert"
           [style.display] = "classe.value == 'alert-danger' ? 'block' : 'none' ">
        Este texto somente aparece em caso de erro.
      </div>

    </article>
  </section>-->

  <!--<section class="property-binding">
    <article>
      <h3>Event Binding</h3>
      <button class="btn btn-primary" (click)="botaoClicado()"> Me clique </button>
      <br /> <br />

      <input type="text"
             (keyup)="onKeyUp($event)"
             (keyup.enter)="salvarValor(campoInput.value)"
             (blur)="salvarValor(campoInput.value)"
             #campoInput
      />

      <p>Valor atual: {{valorAtual}}</p>
      <p>Valor salvo: {{valorSalvo}}</p>

      <br /> <br />

      <span (mouseover)="onMouseOverOut()"
            (mouseout)="onMouseOverOut()"
            [class.highlight]="isMouseOver">
  Passe o mouse sobre mim
</span>
    </article>
  </section>-->

  <!-- <section class="property-binding">
     <article>
       <h3>Two-way data binding</h3>
       <div>
         <input type="text"
                [value]="nome"
                (input)="nome = inputElement.value"
                #inputElement
         />

         <input type="text"
                [ngModel]="nome"
                (ngModelChange)="nome = $event"
         />

         <input [(ngModel)]="nome">

         <p>Você digitou o nome: {{ nome }}</p>
       </div>

       <div>
         <input [(ngModel)]="pessoa.nome">
         <input [(ngModel)]="pessoa.idade">

         <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>
       </div>

     </article>
   </section>-->

  <section class="property-binding">
    <article>
      <h3>Input/Output Properties</h3>
      <div>
        <app-curso [nome]="nomeDoCurso"></app-curso>


        <contador [valor]="valorInicial"
        (mudouValor)="onMudouValor($event)"
        ></contador>

      </div>
    </article>
  </section>
</div>
