<h5> Lista de cursos </h5>

<input type="text" #cursoInput />
<button (click)="onAddCurso(cursoInput.value)">Add Curso</button>

<ul>
    <li *ngFor="let curso of cursos">
        {{ curso }}
    </li>
</ul>

<app-receber-curso-criado></app-receber-curso-criado>
